.draw-attraction-item {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
    gap: 1%;
    margin-top: 10px;
}

.draw-index-item {
    height: 30vh;
    width: 20vw;
    // border: black solid 1px;
    padding: 2%;
    box-sizing: border-box;
    border-radius: 10px;
    box-shadow: 10px 10px 10px grey;
    margin-bottom: 20px;


}

.draw-header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
    // border: black solid 3px;
    height: 50%;
    width: 97%;
}

.draw-image {
    background-size: cover;
    height: 100%;
    width: 90%;
    object-fit: cover;
    text-align: center;
    margin: auto;
    z-index: 1;
    box-shadow: 0 0 8px 3px white inset;
    // margin-bottom: 10px;
}

.draw-header button {
    border: black solid 3px;
    border-radius: 1px;
    box-sizing: border-box;
    background-color: transparent;
    height: 30px;
    width: 30px;
    margin-left: 5px;
    font-size: 40px;
    align-items: center;
    display: flex;
    justify-content: flex-start;
    padding-bottom: 18px;
    padding-right: 5px;
    box-sizing: border-box;
    // align-items: flex-start;
}

.draw-footer {
    display: flex;
    justify-content: space-between;
    // border: black 1px solid;     
}

.draw-bottom-half {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    // border: black 1px solid;
    height: 45%;
    width: 100%;
}

.draw-index-title {
    font-size: 20px;
}


.draw-address {
    font-weight: 300;
}

