.draw-attraction-item {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
    gap: 1%;
    margin-top: 10px;
}

.draw-index-item {
    height: 30vh;
    width: 20vw;
    // border: black solid 1px;
    padding: 2%;
    box-sizing: border-box;
    border-radius: 10px;
    box-shadow: 10px 10px 10px grey;
    margin-bottom: 20px;


}

.draw-header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
    // border: black solid 3px;
    height: 50%;
    width: 97%;
}

.draw-image {
    background-size: cover;
    height: 100%;
    width: 90%;
    object-fit: cover;
    text-align: center;
    margin: auto;
    z-index: 1;
    box-shadow: 0 0 8px 3px white inset;
    // margin-bottom: 10px;
}

.draw-header button {
    border: black solid 3px;
    border-radius: 1px;
    box-sizing: border-box;
    background-color: transparent;
    height: 30px;
    width: 30px;
    margin-left: 5px;
    font-size: 40px;
    align-items: center;
    display: flex;
    justify-content: flex-start;
    padding-bottom: 18px;
    padding-right: 5px;
    box-sizing: border-box;
    // align-items: flex-start;
}

.draw-footer {
    display: flex;
    justify-content: space-between;
    // border: black 1px solid;     
}

.draw-bottom-half {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    // border: black 1px solid;
    height: 45%;
    width: 100%;
}

.draw-index-title {
    font-size: 20px;
}


.draw-address {
    font-weight: 300;
}

.edit-title-draw, .edit-description-draw{
    // border: black solid 1px;
    display: flex;
    justify-content: flex-start;
    // gap: 5%;
    align-items: flex-end;
    flex-direction: row;
    // border: black 1px solid;
}

.edit-title-draw>input, .edit-description-draw > input{
   outline: none;
   border: none;
   width: 80%;
//    height: max-content;
   background-color: transparent;
//    border: 1px solid black;
    text-indent: 35%;
}

.edit-description-draw > input {
    font-weight: 350;
}

.edit-title-draw > button {
    background-color: black;
    color: white;
    font-size: 2vh;
    font-weight: 500px;
    margin-bottom: 1%;
    margin-right: 1%;
    border: none;
    height: 50%;
    // width: 10%;
    padding: 10px; 
    border-radius: 50%;
}

.edit-description-draw > button {
    background-color: black;
    color: white;
    font-size: 2vh;
    font-weight: 500px;
    // margin-bottom: 1%;
    margin-right: 2%;
    border: none;
    height: 50%;
    padding: 9px; 
    border-radius: 50%;
}

.draw-edit-property input{
    text-decoration: done;
    outline: none;
    border: none;
    margin-right: 10%;
    width: 30%;

}
.draw-edit-property {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    // border: black solid 1px; 
    // gap: 5%; 
    box-sizing: border-box;
    // width: 50%;
}

.draw-pencil {
    font-size: 22px;
}

.draw-edit-property button {
    background-color: black;
    color: white;
    font-size: 18px;
    font-weight: 500px;
    margin-bottom: 1%;
    margin-left: none;
    border: none;
    height: 50%;
    padding: 10px; 
    border-radius: 30px;
    // font-family:
}

.draw-description {
    font-weight: 300;
}
