.map-start-container{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    
    height: calc(100vh - 85px);
    width: 100vw;
    
    a {
        margin: 10px;
        position: relative;
        top: 12.5vh;
        left:420px;
        // left:420px;
    }
    
    .next-container{
        font-family: 'Poppins', sans-serif;
        border: 1px solid rgb(170, 62, 0);
        
        .next-button-2, .back-button-2, .next-button-3{
            border: 1px solid rgb(6, 170, 0);
            font-family: 'Poppins', sans-serif;
            font-size: 50px;
            color: white;
            background-color: #ff8800;
            box-shadow: 2px 3px 10px 1px rgba(0, 0, 0, 0.274);
            
            border-radius: 100px;
            // border-radius: 50%;
            width: 150px;
            height: 100px;
            text-align: center;
            padding:8.5px;
            padding-left:22.5px;
            padding-right:22.5px;
            // text-align: center;
        }
    }
    
    .questions {
        font-family: 'Poppins', sans-serif;
        font-size: 35px;
        // border: 1px solid rgb(51, 160, 18);
        
    }
    
    .address-fields{
        
        #autocomplete{
            margin-bottom: 10px;
            margin-top: 15px;
            height:40px;
            width:350px;
            // width:60%;
            border: 1px solid rgb(207, 207, 207);
            border-radius: 15px;
            // border: 1px solid rgb(255, 0, 13);

            input[type="text"] {
                padding-left: 20px;
            }
        }
    }
    
    .map-container {
        height: 60%;
        width: 90%;
        margin-top: 30px;
        margin-bottom: 30px;
    }
    
    .map_enter{
        border-radius: 25px;
        box-shadow: 0px, ;
        height:100%;
        width: 100%;
        box-shadow: 2px 5px 10px 1px rgba(0, 0, 0, 0.274);
        // border: 1px solid blue;
    }
}

.box{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
    
    height: 110px;
    width: 500px;
    padding: 20px;
    
    border-radius: 25px;
    background-color: rgba(245, 245, 245, 0.842);
    box-shadow: 2px 5px 10px 1px rgba(0, 0, 0, 0.274);
}




