.map-start-container{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    
    height: calc(100vh - 85px);
    min-height: 728px;
    width: 100vw;
    
    
    .controls-container{
        display: flex;
        flex-direction: row;
        align-content: center;
        justify-content: space-between;
        width: 80vw;
        min-width: 600px;
        max-width: 900px;
        // border: 1px solid rgb(170, 62, 0);
    }

    .next-button-2, .next-button-3, .back-button-2, .back-button-3, .next-button-empty{
        font-family: 'Poppins', sans-serif;
        font-size: 50px;
        color: white;
        background-color: #ff8800;
        box-shadow: 1px 3px 5px 1px rgba(0, 0, 0, 0.274);
        
        border-radius: 100px;
        border: none;
        width: 70px;
        height: 70px;
        text-align: center;
        padding-top:20px;
        padding-left:10px;
        padding-right:10px;
        margin-left:20px;
        margin-right:20px;
        cursor: pointer;
        
        // border: 1px solid rgb(170, 62, 0);
    }

    .back-button-3, .next-button-empty {
        background-color: #a7a7a7;
    }

    .next-container, .back-container{
        display:flex;
        flex-direction: column;
        justify-content: center;
        align-content: center;
        font-family: 'Poppins', sans-serif;
        // border: 1px solid rgb(170, 62, 0);
        
    }
    
    .questions {
        font-family: 'Poppins', sans-serif;
        font-size: 35px;
        // border: 1px solid rgb(51, 160, 18);

        
    }
    
    .address-fields{
        
        #autocomplete{
            margin-bottom: 10px;
            margin-top: 15px;
            height:40px;
            width:34vw;
            min-width:310px;
            max-width:460px;
            border: 1px solid rgb(207, 207, 207);
            border-radius: 15px;
            // border: 1px solid rgb(255, 0, 13);
        // border: 1px solid rgb(170, 62, 0);


            input[type="text"] {
                padding-left: 20px;
            }
        }
    }
    
    .map-container {
        height: 60%;
        width: 90%;
        margin-top: 30px;
        margin-bottom: 30px;
        // border: 1px solid rgb(170, 62, 0);

    }
    
    .map_enter{
        border-radius: 25px;
        box-shadow: 0px, ;
        height:100%;
        width: 100%;
        box-shadow: 2px 5px 10px 1px rgba(0, 0, 0, 0.274);
        // border: 1px solid blue;
    }
}

.questions-box{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
    
    height: 110px;
    width: 500px;
    // min-width:340px;
    max-width:600px;
    padding: 20px;
    
    border-radius: 25px;
    background-color: rgba(245, 245, 245, 0.842);
    box-shadow: 2px 5px 10px 1px rgba(0, 0, 0, 0.274);
    // border: 1px solid rgb(35, 124, 0);
}




