@keyframes render-itinerary{
    0%{
        opacity: 0%;
        transform: scale(0.5)
    }

    100%{
        opacity: 100%;
        transform: scale(1)
    }
}


.itinerary-container{
    // border: 5px solid burlywood;
    // border-radius: 15px;
    animation: render-itinerary 1.3s;
    height: 90%;
    overflow: scroll;
    min-width: 700px;
    width: 60vw;
    padding: 15px;
    // z-index: 10;
}

.itinerary-inner-container{
    // border: 2px solid orange;
}

@keyframes fade-in-t{
    0%{
        opacity: 0%;
        transform: scale(0.5)
    }

    50%{
        opacity: 0%;
        transform: scale(0.7)
    }

    100%{
        opacity: 100%;
        transform: scale(1)
    }
}

.add-itinerary-text{
    // border: 2px solid black;
    animation: fade-in-t 2.5s;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70%;
    span{
        font-size: 30px;
    }
}

.itinerary-item-container{
    box-shadow: 0px 10px 15px 1px rgba(105, 105, 105, 0.5);

    // border: 2px solid green;
    border-radius: 15px;
    // display: flex;
    height: 350px;
    margin-bottom: 30px;
    overflow: hidden;
}

.itinerary-item{
    // border: 2px solid indianred;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.link-container{
    height: 100%;
}

.card-container{
    // border: 2px solid greenyellow;
    display: flex;
    flex-direction: column;
    width: calc(100% - 404px);
    height: 100%;
    background-color: white;
}
//map tbd
.map-temp{
    height: 100%;
    max-height: 350px;
    // border:2px solid purple;
    min-width: 370px;
    background-color: rgb(241, 219, 200);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 15px 0 15px;
    img{
        // max-height: 350px;
        max-width: 380px;
        // height: 100%;
        // filter: invert(100%);
    }
}
//button
.button-container{
    // border: 2px solid brown;
    width: 100%;
    display: flex;
    height: 50px;
    display: flex;
    align-items: center;
    flex-direction: row-reverse;
    padding-bottom: 10px;
}

.delete-button{
    min-width: 40px;
    min-height: 40px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 15px;
    background-color: rgb(253, 189, 189);
    img{
        width: 25px;
        height: 25px;
    }
}

.delete-button:hover{
    background-color: rgb(250, 142, 142);
}

.edit-button{
    min-width: 40px;
    min-height: 40px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 15px;
    background-color: rgb(199, 226, 157);
    img{
        width: 25px;
        height: 25px;
    }
}

.edit-button:hover{
    background-color: rgb(172, 224, 88);
}

.empty{
    // border: 2px solid black;
    height: 100%;
    width: 100%;
}

//itinerary content
.itinerary-item-content-container{
    // border: 2px solid cyan;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}


.itinerary-title{
    // border: 2px solid red;
    font-size: 45px;
    display: flex;
    align-items: center;
    height: 34%;
    padding-left: 20px;
    h1{
        padding-bottom: 6px;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
    }
}

.itinerary-address{
    // border: 2px solid green;
    display: flex;
    height: 33%;
    padding-left: 20px;
    padding-right: 20px;
    gap: 10px;
}

.address{
    width: 50%;
    // border: 2px solid orange;
    display: flex;
    flex-direction: column;
    gap: 10px;
    h3{
        font-size: 20px;
    }

    span{
        font-size: 16px;
    }
}


.itinerary-description{
    padding: 20px;
    // border: 2px solid blue;
    height: 33%;
    overflow-y: scroll;
    // display: inline-block;
    h3{
        font-size: 20px;
        margin-bottom: 4px;
    }
    p{
        font-size: 15px;
        overflow: hidden;
        // white-space: nowrap;
        text-overflow: ellipsis;
        padding-bottom: 2px;
    }
}


