.starting-map {
    // margin-left: 100px;
    // margin-top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: rgba(255, 229, 195, 0.753);
    position: relative;

}

.map-container {
    height: 70%;
    width: 80%;
    margin-top: 30px;
    margin-bottom: 30px;
}

.draw-map-container > div {
    height: 100%;
    width: 100%;
    border-radius: 15px;
    box-shadow: 10px 10px 5px grey;
    box-sizing: border-box;
}
.after-draw-map-container > div {
    height: 100%;
    width: 100%;
    border-radius: 15px;
    // box-shadow: 10px 10px 5px grey;
    // box-sizing: border-box;
}

.address-input {
    // margin-top: 100px;
    height: 50px;
    width: 50vw;  
    border-radius: 8px;
    outline: none;
    background-color: transparent;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
}


.question {
    font-family: 'Rock Salt', cursive;
    margin-bottom: 30px;
    font-size: 30px;
}

.next-button, .back-button{
    font-family: 'Rock Salt', cursive;
    font-size: 30px;
    text-align: right;
}

.next-button {
    position: absolute;
    right: 4%;
}

.back-button {
    position: absolute;
    left: 4%;
}

.draw-map-container {
    height: 68vh;
    width: 80vw;
    margin: auto;

    // margin-top: 100px;
}

.after-draw-map-container {
    height: 50vh;
    width: 45vw;
    margin-bottom: 20%;
    // margin-top: 100px;
}

.next-container {
    display: flex;
    justify-content: space-between;
    // align-items: flex-end;
}

.draw-map {
    height: calc(100vh - 80px);
    margin-top: 80px;
    background-image: url('https://ak.picdn.net/shutterstock/videos/26246675/thumb/10.jpg');
}

.h-draw {
    text-align: center;
    font-family: 'Sedgwick Ave', cursive;
    font-weight: 500;
    margin-bottom: 20px;
    font-size: 50px;
}

.h-done {
    text-align: left;
    margin-left: 50px;
    font-family: 'Sedgwick Ave', cursive;
    margin-bottom: 10px;
    font-size: 20px;
}

.map-and-attractions {
    display: flex;
    justify-content: space-between;
}

.left-page {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-left: 30px;
}

.attraction-index {
    height: calc(100vh - 80px);
    width: 45vw;
}

.draw-title {
    text-align: center;
    font-family: 'Sedgwick Ave', cursive;
    font-size: 40px;
    margin-top: 7%;
}

.draw-description {
    text-align: center;
    // font-family: 'Poppinds', cursive;
    font-size: 20px;
    margin-top: 40px;
    margin-left: 10%; 
    margin-right: 10%;
    flex-wrap: wrap;
    font-weight: 350;
}