
.starting-map {
    // margin-left: 100px;
    // margin-top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: rgba(255, 229, 195, 0.753);
    position: relative;

}

.map-container {
    height: 70%;
    width: 80%;
    margin-top: 30px;
    margin-bottom: 30px;
}

.map {
    height: 100%;
    width: 100%;
    border-radius: 15px;
    box-shadow: 10px 10px 5px grey;
    box-sizing: border-box;
}

.address-input {
    // margin-top: 100px;
    height: 50px;
    width: 50vw;  
    border-radius: 8px;
    outline: none;
    background-color: transparent;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
}


.question {
    font-family: 'Rock Salt', cursive;
    margin-bottom: 30px;
    font-size: 30px;
}

.next-button, .back-button{
    font-family: 'Rock Salt', cursive;
    font-size: 30px;
    text-align: right;
}

.next-button {
    position: absolute;
    right: 4%;
}

.back-button {
    position: absolute;
    left: 4%;
}

.draw-map-container {
    height: 60vh;
    width: 60vw;
    margin-top: 100px;
    margin-left: 50px;
}

.next-container {
    display: flex;
    justify-content: space-between;
    // align-items: flex-end;
}