.starting-map {
    // margin-left: 100px;
    // margin-top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: rgba(255, 229, 195, 0.753);
    position: relative;

}

.map {
    height: 100%;
    width: 100%;
    border-radius: 15px;
    box-shadow: 10px 10px 5px grey;
    box-sizing: border-box;
}

.draw-map-container {
    height: 80vh;
    width: 80vw;
    margin: auto;
}

.after-draw-map-container {
    height: 50vh;
    width: 50vw;
    margin-top: 100px;
    margin-left: 50px;
}
