// header {
//     height: 85px;
//     z-index: 1000;
//     width: 100%;
//     position: sticky;
//     top: 0px;
//     background-color: rgb(243, 242, 239);
// }

.navbar { 
    display: flex;
    flex-direction: row;
    max-width: 1100px;
    margin-left: auto;
    margin-right: auto;
    justify-content: space-between;
    padding-top: 20px;
    padding-bottom: 15px;
    
    padding-left: 10%;
    padding-right: 10%;
    height: 50px;
    align-items: center;   
	background-color: rgb(218, 218, 218);
    box-sizing: content-box;
    width: 80%;
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;
    background-color: rgba(255, 255, 255, 0.856);
    box-shadow: 2px 5px 10px 1px rgba(0, 0, 0, 0.274);
    background-image: linear-gradient( rgb(255, 200, 137), white, white, white, white);
    top: 0px;
    z-index: 100;


    a, button {
        display: flex;
        flex-direction: row;
        // border: 3px solid rgb(0, 0, 0);    
        color: black;
        text-decoration: none;
        margin: 10px;
        font-family: 'Poppins', sans-serif;
        font-weight: 900;
        font-size: 17px;
        height: 20px;
        padding-bottom: 2px;
        border-bottom: 2px solid rgba(255, 255, 255, 0);
    }

    a:hover {
        
        // padding-bottom: 2px;
        // border-bottom: 2px solid rgb(255, 145, 0);
        // line-height: 23px;
    }

    .nav-l {
        color: #e66f00;
        font-size: 25px;
        padding-bottom: 6px;
        // border-bottom: 2px solid rgba(255, 150, 13, 0.911);
        text-shadow: 1px 1px 1px rgb(192, 192, 192);

    }
 

}