.profile-container{
    // border: 2px solid red;
    height: calc(100vh - 85px);
    min-width: 1040px;
    display: grid;
    grid-template-columns: 3fr 7fr;
    justify-content: space-around;
    z-index: 5;
}

.profile-background{
    // border: 2px solid cyan;
    position: absolute;
    z-index: -1;
    height: 100vh;
    width: 100vw;
    top: 0px;
}

.profile-background-img{
    height: 100vh;
    width: 100vw;
    object-fit: cover;
    position: absolute;
}

.user-show-container{
    height: calc(100vh - 85px);
    min-height: 480px;
    // border: 2px solid greenyellow;
    display: flex;
    justify-content: center;
    align-items: center;
    // padding-top: 100px;
}

.index-container{
    height: calc(100vh - 85px);
    // border: 2px solid blue;
    display: flex;
    align-items: center;
    position: relative;
}