.session-form-container{
    // border: 2px solid rgb(255, 0, 0);
    // left:50%;
    // right:50%;
    height:100%;
    width: auto;
    background-color: rgb(255, 255, 255);
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-between; 
    text-align: center;
    margin: 10px;
    box-shadow: 2px 2px 10px 2px rgba(0, 0, 0, 0.356);

    h2 {
        font-family: 'Poppins', sans-serif;
        font-size: 25px;
    }
}

.login-form-inner{
    display: flex;
    flex-direction: column;
    padding: 10px;
    align-content: center;
    justify-content: center;
    align-items: center;
}

.session-form {
    display: flex;
    flex-direction: column;
    justify-content: space-between; 
    text-align: center;
    margin: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    // border: 2px solid rgb(0, 255, 213);

    .form-split{
        display: flex;
        flex-direction: row;
    }
    .form-left, .form-right{
        width: 400px;
    }

    h2 {
        margin: 10px;
    }
    input {
        margin-bottom: 10px;
        margin-top: 5px;
        height:53px;
        // width:350px;
        width: 263px;
        border: 1px solid rgb(207, 207, 207);
        border-radius: 15px;
    }
    
    input[type="text"], input[type="password"] {
        padding-left: 20px;
    }
    input[type="submit"] {
        font-family: 'Poppins', sans-serif;
        font-size: 15px;
        border-radius: 30px;
        border: none;
        color: white;
        background-color: #ff8e0d;
        margin-top: 20px;
        align-content: center;
        text-align: center;
    }
    input[type="submit"]:hover {
        background: #c26700;
    }
    input[type="submit"]:active {
        background: #a35700;
    }

    .form-errors{
        font-size: 14px;
        color: red;
        min-height: 18px;
    }

    .demo-user {
        font-family: 'Poppins', sans-serif;
        font-size: 15px;
        border: none;
        color: white;
        background-color: #009ce4;
    
        border-radius: 30px;
        height:53px;
        width: 263px;
        margin-top: 10px;
        margin-bottom: 10px;
    }
    .demo-user:hover {
        background-color: #006999;
    }
}


