body {
    background-color: rgb(252, 252, 252);
}

.splash-container {
    padding-top: 5vh;
    margin-left: 10%;
    margin-right: 10%;
    // border:1px solid blue;
// max-width: 1300px;

.splash-intro-bar{
    // border:3px solid rgb(255, 0, 0);
    height: 0px;
    display: flex;
    justify-content: center;
    align-content: center;
    position: relative;
    width: 100vw;
    margin-left: -13%;
    
    .splash-intro-inner{
        position: relative;
        top: 7vh;
        width: 100vw;
        height: 50vh;
        min-height: 510px;
        background-color: rgba(255, 229, 195, 0.753);
        z-index: -1;
        // border:1px solid #ff6600;
        }
    }
    
    .splash-intro{
        height: 75vh;
        min-height: 620px;
        width: 100%;
        z-index: -1;
        // border:1px solid #f300be;
        
        .splash-intro-content{
            display: flex;
            // min-height: 600px;
            flex-direction: row;
            justify-content: space-around;
            align-content: center;
            // border:1px solid #009632;
            
            .splash-intro-content2{
                min-width: 500px;
                // min-height: 400px;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-content: center;
                // padding: 30px;
                // border:1px solid #007f96;

                h1 {
                    color: rgb(49, 49, 49);
                    text-shadow: 2px 2px 3px rgb(196, 196, 196);
                    font-family: 'Rock Salt', cursive;
                    font-size: 65px;
                    font-weight: 800;
                    margin: 20px;
                    text-align: center;
                }

                h5 {
                    margin: 30px;
                    font-size: 23px;
                    text-align: center;
                }
            }
        }
        
        .splash-card{
            height: 65vh;
            width: 50%;
            max-width: 600px;
            min-width: 350px;
            min-height: 600px;
            overflow: hidden;
            border-radius: 20px;
            background-color: transparent;
        }

        .splash-card-inner {
            position: relative;
            width: 100%;
            height: 100%;
            transition: transform 0.6s;
            transform-style: preserve-3d;
        }

        .splash-card:hover .splash-card-inner {
            transform: rotateY(180deg);
        }

        .splash-card-front, .splash-card-back {
            position: absolute;
            overflow: hidden;
            border-radius: 20px;
            width: 100%;
            height: 100%;
            -webkit-backface-visibility: hidden;
            backface-visibility: hidden;
        }

        .splash-card-front{
            img{
                object-fit: cover;
                object-position: 0% 0%;
                max-width: 600px;
                min-height: 600px;
            }
        }

        .splash-card-back{
            background-color: #eaeaea;
            transform: rotateY(180deg);
            display: flex;
            flex-direction: column;
            // justify-content: center;
            align-items: center;
            gap: 15px;

            .splash-card-header-container{
                // border: 2px solid yellow;
                width: 100%;
                display: flex;
                justify-content: center;
            }

            .splash-card-header{
                // border: 2px solid cyan;
                width: 90%;
                padding-top: 20px;
                padding-bottom: 10px;
                border-bottom: 2px solid black;
                h2{
                    font-family: 'Rock Salt', cursive;
                    font-weight: 800;
                    text-align: center;
                    font-size: 20px;
                    line-height: 1.3;
                }
            }

            .person{
                width: 100%;
                // border: 2px solid blue;
                display: flex;
                flex-direction: column;
                gap: 15px;
            }

            .person-info{
                // border: 2px solid cyan;
                display: flex;
                flex-direction: column;
                align-items: center;
                gap: 10px;
            }

            .divider{
                border-bottom: 2px solid black;
                width: 40%;
            }

            .person-info-name{
                // border: 2px solid red;
                
                display: flex;
                justify-content: center;
                align-items: center;
                width: 100%;
                h3{
                    // font-family: 'Rock Salt', cursive;
                    font-size: 24px;
                }
            }

            .person-info-links-container{
                // border: 2px solid green;
                display: flex;
                align-items: center;
                justify-content: space-around;
                width: 100%;
            }

            .person-info-link-item{
                // border: 2px solid purple;
            }

            .person-info-link-header{
                // border: 2px solid greenyellow;
                text-align: center;
                font-size: 13px;
                padding: 5px;
            }

            .person-info-link{
                // border: 2px solid yellow;
                display: flex;
                justify-content: center;
                align-items: center;
                img{
                    width: 65px;
                    height: 65px;
                }
            }


        }
    }
    
    .splash-second,.splash-third{
        padding-top: 30px;
        padding-bottom: 30px;
        height: 100%;
        min-height: 420px;
        width: 100%;
        display:flex;
        justify-content: space-around;
        align-items: center;
        // border:1px solid rgb(212, 0, 255);

        img {
            height: 100%;
            max-height: 350px;
            // min-height: 250px;
            // min-width: 300px;
            max-width: 600px;
            object-fit: cover;
            border-radius: 20px;
        }

        .s2,.s3{
            display: flex;
            flex-direction: column;
            align-items: center;
            text-align: center;
            // width: 500px;
            min-width: 310px;
            margin: 10px;
        }

        h2 {
            margin:15px;
            font-size: 30px;
        }
        h3 {
            margin:15px;
            font-size: 15px;
        }

 
    }

    .splash-final-content{
        margin-bottom: 0px;
        display: flex;
        flex-direction: column;
        justify-content: middle;
        align-content: middle;
        align-items: center;
        max-height: 350px;
        margin-top: 10vh;
        
        div > a {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 150px;
            height: 55px;
            // border: 2px solid red;
            text-align: center;
            border-radius: 30px;
        }
    }

    .splash-final{
        min-height: 300px;
        width: 100%;

        
        h2 {
            color: rgb(37, 37, 37);
            text-shadow: 2px 1px 3px rgb(116, 116, 116);
            font-family: 'Rock Salt', cursive;
            font-size: 40px;
            font-weight: 700;
            margin: 20px;
            z-index: 10;
            position: relative;
            top: 100px;
            text-align: center;
        }

        .splash-final-content > .sfl{
            position: relative;
            top: 130px;
            width: 150px;
            min-height: 55px;
            
            // display: flex;
            // flex-direction: row;
            // justify-content: center;
            // align-content: center;
            // text-align: center;
            // align-items:center;

            background: #ff9a27;
            border-radius: 30px;
            font-size: 16px;
            font-weight: 500;        
            box-shadow: 0 10px 5px -5px rgba(0, 0, 0, 0.274);


        }
        .splash-final-content > div:hover{
            background: #ffb560;
        }
        .splash-final-content div a{
            scroll-behavior: smooth;
            
        }
        
        .splash-final-image{
            position: relative;
            // position: sticky;
            bottom: 0px;
            top: -140px;
            // height: 400px;
            height: 30vh;
            min-height: 350px;
            width:100vw;
            object-fit: cover;
            z-index: -1;

        }
    }

    // div {
    //     border:2px solid rgb(107, 107, 107);
    // }

    .links-container{
        display: flex;
        justify-content: center ;
    }
    .links{
        div{
            width: 150px;
            margin: 15px;
            height: 55px;
            // padding-top:20px;
            
            display: flex;
            justify-content: center;
            align-content: center;
            background: #ff8d0ce3;
            text-align: center;

            border-radius: 30px;
            font-size: 16px;
            font-weight: 500;        
            box-shadow: 0 10px 5px -5px rgba(0, 0, 0, 0.274);
            
        }

        div > span {
            width: 100%;
            // height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            width: 150px;
            height: 55px;
            text-align: center;
            border-radius: 30px;
        }
        
        div:hover {
            background: #ff9a27a8;
        }
    }

}